@charset "UTF-8";

@font-face {
    font-family: 'bebeas';
    src: url(fontes/bebas-neue.ttf) format('truetype'); 
}

@font-face {
    font-family: 'i-droid';
    src: url(fontes/i-droid.otf) format('opentype');
}

body {
    background-color: #83e1ad;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background-image:linear-gradient(to bottom, #3DDC84, #063D1E);
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.397);
}

.titulo {
    font-family: 'bebeas';
    color: white;
    font-weight: lighter;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.404);
    padding: 20px;
    margin: 0px;
}

header > p {
    font-weight: 100;
    font-size: 1em;
    font-style: normal;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    padding: 10px 0px 30px 0px;
}

nav > a {
    text-align: left;
    font-size: 0.7em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: black;
    text-decoration: underline;
    background-color: #c5ebd67e;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
}

main {
    background-color: white;
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.397);
    border-radius: 0px 0px 10px 10px;
}

.historia {
    font-family: 'i-droid';
    font-weight: light;
    font-size: 1em;
    font-style: normal;
    color: #063D1E;
    margin: 0px;
    padding: 10px 20px;
}

p {
    font-size: 0.8em;
    text-align: justify;
    text-indent: 25px;
    padding: 10px 10px;
    margin: 0px;
}

h2 {
    font-family: 'i-droid';
    font-weight: lighter;
    font-size: 0.9em;
    color: #063D1E;
    background-image: linear-gradient(to right, #83e1ad, #ffffff);
    margin-left: 10px;
    text-indent: 5px;
}

.links {
    color: #2FA866;
    font-weight: bolder;
    text-decoration: none;
}

.links::after { 
    content: ' â˜';
    color: gray;
}

.destaque {
    color: #2FA866;
    font-weight: bolder;
}

#video {
    background-color: #063D1E;
    padding: 10px;
}

.lista {
    margin: 0px;
}

#box {
    background-color: #C5EBD6;
    width: 760px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.397);
}

#box > h3 {
    background-color: #2FA866;    
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

#box > p {
    padding: 10px;
}

footer {
    background-color: #063D1E;
    margin: 10px 0px;
}

footer > p {
    color: white;
    text-align: center;
    font-size: 0.5em;
    font-style: normal;
    font-weight: 100;
    padding: 5px;
}